.home {
  width: 100%;
  overflow-x: hidden;
}html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.home {
  width: 100%;
  overflow-x: hidden;
}